.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6rem 4rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 29.5rem;

    .text {
      position: relative;
      h5 {
        text-align: center;
        &::before {
          position: absolute;
          top: -25%;
          left: -1%;
          content: url("../../../assets/icons/quote.svg");
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .position {
        color: var(--primary-300);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 4rem 0;
  }

  @media screen and (max-width: 425px) {
    padding: 4rem 1.25rem;
    .content {
      width: auto;

      .text {
        h5 {
          font-size: 1.25rem;
        }
      }

      .info {
        p {
          font-size: var(--text-normal);
        }
      }
    }
  }
}
