.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6rem 0 4rem 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 29.5rem;

    .text {
      position: relative;
      h5 {
        text-align: center;
        &::before {
          position: absolute;
          top: -25%;
          left: -1%;
          content: url("../../../assets/icons/quote.svg");
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .position {
        color: var(--primary-300);
      }
    }
  }
}
