.privatepolicy-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary-200);
  padding: 0.5rem 9rem;

  p,
  a {
    font-size: var(--text-normal);
    color: black;
  }
  .social-icons {
    display: flex;
    padding: 0.625rem 0;

    gap: 0.625rem;
  }
}
