.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 5rem 6rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 31rem;

    button {
      font-size: 1.125rem;
      width: fit-content;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 5rem 3rem;
    justify-content: start;
    img {
      display: none;
    }
  }
}
