.cards-container {
  display: grid;
  gap: 1.5rem;

  grid-template-columns: repeat(4, 1fr);

  .card-container:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card-container:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .card-container:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .card-container:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .card-container:nth-child(3),
    .card-container:nth-child(6) {
      grid-column-start: 1;
      grid-column-end: 3;
      height: fit-content;
    }
  }

  @media screen and (max-width: 425px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
