.video-section {
  padding: 4rem 5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .video-preview {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.125rem;
    height: 7.125rem;

    border-radius: 100%;
    background-color: var(--accent-100);

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 4rem 3rem;
  }

  @media screen and (max-width: 425px) {
    padding: 4rem 1.25rem;
    .play-button {
      width: 4.125rem;
      height: 4.125rem;
    }
  }
}
